<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SolidarEduca</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/sobre.css">
    <script src="../assets/js/components/menu.js"></script>
</head>
<body>
<div id="container" class="container-fluid col-md-12 row d-flex">
    <menu-component></menu-component>
</div>
</body>
<script src="../assets/js/sobre.js"></script>
</body>
</html>