body {
    background-image: url('/assets/images/background.jpg') !important;
    background-size: cover !important;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.banner{
    background-image: url('/assets/images/banner.jpg') !important;
    background-size: inherit;
    height: 20vh;
    transform: scaleX(-1);
}

.botoes-doar-receber {
    transform: scaleX(-1)!important;
    padding-top: 13vh;
    /* padding-left: 70vw!important; */
}

.header-topo {
    background: #5BADA7;
    height: 5vh;
    padding-left: 1vw;
    /* padding-top: 0.5vw; */
}

.buttonDoar {
    background: #5BADA7!important;
    color: #FFFFFF!important;
}

.buttonDoar:hover {
    background: #FFFFFF!important;
    color: #5BADA7!important;
}

.buttonReceber {
    background: #7D66AA!important;
    color: #FFFFFF!important;
}

.buttonReceber:hover {
    background: #FFFFFF!important;
    color: #7D66AA!important;
    border: 1px solid #7D66AA;
}

.main{
    flex: 1;
}

.cardEscolas {
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%)!important;
    box-sizing: border-box;
    margin-bottom: 3vh!important;
}

.rankingEscolas {
    height: 49vh;
    overflow-y: auto;
    margin-left: 10vw!important;
    margin-right: 10vw!important;
}

button.alunosEscola {
    background: #7D66AA!important;
    color: #FFFFFF!important;
}

button.alunosEscola:hover {
    background: #FFFFFF!important;
    color: #7D66AA!important;
    border: 1px solid #7D66AA;
}

.footer {
    text-align: -webkit-center;
    color: #D9D9D9;
    background: #5BADA7;
    font-weight: bold;
    font-size: medium;
    padding: 0.5vw;
    margin-top: 1vh!important;
}

.thumbnail {
    background-image: url('/assets/images/escola.jpg') !important;
    background-size: cover !important;
    border-top-left-radius: 12px!important;
    border-bottom-left-radius: 12px!important;
}

.textCenter {
    text-align: center;
}

.contentEscolas {
    padding-left: 1vw;
}